<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
    <title>Home</title>
    <script th:src="@{sockjs.min.js}"></script>
    <script th:src="@{stomp.min.js}"></script>
    <script th:src="@{jquery.js}"></script>
    <style type="text/css">
        div::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
<p>
    聊天室
</p>
<div style="width: 500px">
    <div id="output" style="width: 100%; height: 100px; overflow-y: scroll; background-color: bisque">

    </div>
    <form id="wiselyForm">
        <textarea rows="4" cols="60" name="text" style="width: 100%"></textarea>
        <input type="submit" value="发送"/>
    </form>
</div>


<script th:inline="javascript">

    // function add() {
    //     var div = document.getElementById('output');
    //     div.scrollTop = div.scrollHeight;
    // }
    //
    // $('#wiselyForm').submit(function(e){
    //     e.preventDefault();
    //     var text = $('#wiselyForm').find('textarea[name="text"]').val();
    //     sendSpittle(text);
    //     $('#wiselyForm').find('textarea[name="text"]').val("");
    //     $('#output').append("我：" + text + "<br/>");
    //     add();
    // });
    //
    // var sock = new SockJS("/socket"); //连接endpoint
    // var stomp = Stomp.over(sock);
    // stomp.connect({}, function(frame) {
    //     stomp.subscribe("/sub/chat", handleNotification);
    // });
    //
    // function handleNotification(message) {
    //     console.log("message", message)
    //     /*console.log(message.body);
    //     var json = JSON.parse(message.body);
    //     $('#output').append(json.man + "：" + json.msg + "<br/>");
    //     add();*/
    // }
    //
    // function sendSpittle(text) {
    //     stomp.send("/request/send", {}, text);
    // }
    // $('#stop').click(function() {sock.close()});
    var socket;
    if(typeof(WebSocket) === "undefined") {
        console.log("您的浏览器不支持WebSocket");
    }else{
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于socket = new WebSocket("ws://localhost:8888/xxxx/im/25");
        //var socketUrl="${request.contextPath}/im/"+$("#userId").val();
        var socketUrl="ws://xdr59g.natappfree.cc/im/syy"
        console.log(socketUrl)
        socket = new WebSocket(socketUrl);
        //打开事件
        socket.onopen = function() {
            console.log("websocket已打开");
            socket.send("syy")
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function(msg) {
            console.log(msg.data);
            //发现消息进入    开始处理前端触发逻辑
        };
        //关闭事件
        socket.onclose = function() {
            console.log("websocket已关闭");
        };
        //发生了错误事件
        socket.onerror = function() {
            console.log("websocket发生了错误");
        }
    }
</script>

</body>
</html>